body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.background {
	background-image: url(/image/cat/1.png);
	background-size: cover; 
	background-position: center;
	height: 100vh;
	backdrop-filter: blur(100px);
	position: relative;
	background-color: white;
}

.block {
	padding-left: 20px;
}

h1 {
	color: green;
	background-color: lightgrey;
	font-size: 48px;
	font-family: monospace;
	text-align: left;
	margin: 0;
	padding: 10px;
	padding-left: 30px;
}

h2 {
	font-size: 36px;
}

p, pre {
	font-size: 20px;
	font-family: sans-serif;
}

.nav {
	list-style-type: none;
	overflow: hidden;
	background-color: #333333;
	margin: 0;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	padding-inline: 64px;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
}

.nav li a:hover {
	background-color: #111111;
}

.button {
	border: none;
	color: white;
	padding: 16px 64px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.3s;
	cursor: pointer;
}

.button1 {
	background-color: white;
	color: #04AA6D;
	border: 2px solid #04AA6D;
}

.button1:hover {
	background-color: #04AA6D;
	color: white;
}

.button2 {
	background-color: white;
	color: #008CBA;
	border: 2px solid #008CBA;
	font-weight: bold;
}

.button2:hover {
	background-color: #008CBA;
	color: white;
}